# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui

anomalia = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
at = pd.Series(data=anomalia)
at

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
tabela= pd.Series(data=anomalia, index=anos)
tabela

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    98.780752  112.260251  100.410136
1   114.121185  104.406798   93.359651
2    74.457125  106.838732   95.726798
3   105.225611   96.642381   89.927185
4   110.459091  116.045156  108.326983
5   103.355803  106.134303   96.812072
6   102.754097   87.063247  106.291676
7   105.655006   94.812674   70.346678
8    87.848947  101.125331  109.313187
9    96.032550  102.885162   85.012586
10  113.062301   91.591952  102.463367
11   93.901131  101.742233  105.787753
12   79.480999   85.774687  100.757697
13   99.677144   98.383421  107.395074
14  106.555262   81.918884  109.563767
15   76.547935  112.588270  104.361104
16   92.891824  105.333088  117.156180
17  101.985868   87.739251   96.770294
18  112.385212  104.987714   88.400618
19   76.875882   96.527059  120.411347

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
arr = np.random.rand(20, 3)
df = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])
df

          x1        x2        x3
1   0.292503  0.933481  0.186400
2   0.364690  0.878421  0.290769
3   0.640112  0.146691  0.009815
4   0.569507  0.883347  0.283696
5   0.332337  0.502243  0.133731
6   0.952786  0.479537  0.080361
7   0.541011  0.758233  0.555772
8   0.278397  0.102403  0.783350
9   0.905944  0.832178  0.884257
10  0.830939  0.436966  0.443880
11  0.589949  0.525211  0.985877
12  0.447124  0.751213  0.105313
13  0.034779  0.916766  0.591867
14  0.791867  0.619811  0.327725
15  0.690111  0.771414  0.411873
16  0.526905  0.425474  0.326534
17  0.239397  0.007960  0.063193
18  0.094371  0.506424  0.049136
19  0.719307  0.134128  0.365125
20  0.093755  0.501289  0.738662

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
df['media'] = df['x1'] + df['x2'] + df['x3'] %2
df

          x1        x2        x3     media
1   0.292503  0.933481  0.186400  1.412384
2   0.364690  0.878421  0.290769  1.533880
3   0.640112  0.146691  0.009815  0.796618
4   0.569507  0.883347  0.283696  1.736551
5   0.332337  0.502243  0.133731  0.968311
6   0.952786  0.479537  0.080361  1.512685
7   0.541011  0.758233  0.555772  1.855016
8   0.278397  0.102403  0.783350  1.164150
9   0.905944  0.832178  0.884257  2.622380
10  0.830939  0.436966  0.443880  1.711785
11  0.589949  0.525211  0.985877  2.101037
12  0.447124  0.751213  0.105313  1.303650
13  0.034779  0.916766  0.591867  1.543412
14  0.791867  0.619811  0.327725  1.739403
15  0.690111  0.771414  0.411873  1.873398
16  0.526905  0.425474  0.326534  1.278913
17  0.239397  0.007960  0.063193  0.310551
18  0.094371  0.506424  0.049136  0.649931
19  0.719307  0.134128  0.365125  1.218560
20  0.093755  0.501289  0.738662  1.333706

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
df['log_med'] = np.log(df["media"])
df

          x1        x2        x3     media   log_med
1   0.292503  0.933481  0.186400  1.412384  0.345279
2   0.364690  0.878421  0.290769  1.533880  0.427801
3   0.640112  0.146691  0.009815  0.796618 -0.227380
4   0.569507  0.883347  0.283696  1.736551  0.551901
5   0.332337  0.502243  0.133731  0.968311 -0.032202
6   0.952786  0.479537  0.080361  1.512685  0.413886
7   0.541011  0.758233  0.555772  1.855016  0.617894
8   0.278397  0.102403  0.783350  1.164150  0.151991
9   0.905944  0.832178  0.884257  2.622380  0.964082
10  0.830939  0.436966  0.443880  1.711785  0.537537
11  0.589949  0.525211  0.985877  2.101037  0.742431
12  0.447124  0.751213  0.105313  1.303650  0.265168
13  0.034779  0.916766  0.591867  1.543412  0.433996
14  0.791867  0.619811  0.327725  1.739403  0.553542
15  0.690111  0.771414  0.411873  1.873398  0.627754
16  0.526905  0.425474  0.326534  1.278913  0.246010
17  0.239397  0.007960  0.063193  0.310551 -1.169408
18  0.094371  0.506424  0.049136  0.649931 -0.430889
19  0.719307  0.134128  0.365125  1.218560  0.197670
20  0.093755  0.501289  0.738662  1.333706  0.287961